# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

lib/config/lib



# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/lib/core/widgets/
/lib/core/functions/
/lib/core/constants/
/lib/features/news/presentation/widgets/news_Item.dart
/lib/features/news/presentation/widgets/news_listview.dart
/lib/features/news/presentation/widgets/news_header.dart
/lib/features/instructor_role/quizzes/presentation/widgets/
/lib/features/instructor_role/material/presentation/manager/
/lib/features/instructor_role/dashboard/presentation/widgets/
/lib/features/instructor_role/assignment/presentation/widgets/pending_assignment_widget/
/lib/features/instructor_role/assignment/presentation/widgets/complete_assignment_widget/
/lib/features/instructor_role/assignment/presentation/widgets/add_assignment/
/lib/features/student_role/dashboard/presentation/widgets/
/lib/features/student_role/quizzes/presentation/widgets/quez_result/



/assets/
